<%- include("./partials/header.ejs") %>
<link rel="stylesheet" href="/css/password.css">
</head>
<body>
    <div id="password_content">
   <h1><i class="fas fa-lock"></i> Reset Password</h1>
   <%- include("./partials/message.ejs") %>
   <form action="/users/reset/new_password" method="POST">
    <label for="name">Password</label><br>
    <input type="password" name="password" id="password" placeholder="Enter Password">
    <label for="name">Confirm Password</label><br>
    <input type="password" name="confirm_password" id="confirm_password" placeholder="Enter Confirm Password">
    <input type="hidden" name="_id"  value="<%=_id %>">
    <button type="submit" id="submit">Submit</button>
   </form> 
   </div>
   <%- include("./partials/script.ejs") %> 
 <%- include("./partials/footer.ejs") %>   
